<!DOCTYPE html>
<html lang="pt-BR">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="900"> -->
    <title>informações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    <div class="box">
        <div class="box-squares"><img id="imagem-status" src=""></div>
        <div class="box-squares">
            <div>PORTO ALEGRE</div>
            <div class = "box-weather">
                <div class="weather-info">
                        <div id="POA-temp" style="font-size: 9vw;">ºC</div>
                </div>
                <div class="weather-info">
                    <img id="POA-img" style="width: 70%" src=''>
                </div>
            </div>
            <div class = "box-weather">
                <div id="POA-wind" class="weather-info">Ventos</div>
                <div id="POA-humidity"class="weather-info">Umidade</div>
            </div>
            <div class = "box-weather">
                <div id="POA-atualizado" class="grey-text">Atualizado às </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-squares">
            <div id="hor"></div>
            <div id="calendario"></div>
        </div>
        <div class="box-squares">
            <div>NOVO HAMBURGO</div>
            <div class = "box-weather">
                <div class="weather-info">
                        <div id="NH-temp" style="font-size: 9vw;">ºC</div>
                </div>
                <div class="weather-info">
                    <img id="NH-img" style="width: 70%" src="">
                </div>
            </div>
            <div class = "box-weather">
                <div id="NH-wind" class="weather-info">Ventos</div>
                <div id="NH-humidity" class="weather-info">Umidade</div>
            </div>
            <div class = "box-weather">
                <div id="NH-atualizado" class="grey-text">Atualizado às</div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
